<h1><%= @product.fetch(:name) %></h1>

<% @product.fetch(:image_paths, []).each do |path| %>
  <%= image_tag path, alt: "", width: 500 %>
  <p>Rotate Left Rotate Right Delete</p>
<% end %>

<%= simple_format @product.fetch(:description) %>
<p>Location: <%= product_location(@product) %></p>
<p>Prices: <%= number_to_currency @product.fetch(:internal_unit_price) %> / <%= number_to_currency @product.fetch(:external_unit_price) %></p>

<%= link_to "Edit", edit_group_product_path(@product.fetch(:group_slug), @product.fetch(:product_slug)) %>
